@font-face {
	font-family: digital7-mono;
	src: url(fonts/digital7-mono.ttf);
}

body,html {
	background-color:black;
	margin: 0;
}

.wrapper {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper img {
	position: absolute;right: 0;bottom: 0; width: 24vh;
}

#time {
	color:#01D6FE;
	font-family:digital7-mono;
	font-size:24vw;
	text-align:center;
}
